
*{margin:0;
  padding:0;

}




.row{
  display:block;
  width:100%;
  background-image: url("src/assets/img/tlo.png");
}

.content{
  display:flex;
  position: relative;
  align-content: center;
  justify-content: space-between;
  left:-5%;
  top:auto;
  flex-wrap: wrap;
  width:70%;
  margin:0 auto;

}
.card{
display:flex;
position:relative;
margin:15px;
flex-basis:calc(50% - 30px);
flex-grow:1;
border-radius: 10px;
text-align: justify;
}

.photo{
  border-radius:10px 10px 0px 0px;
}
.tekst{
  margin:0 0px 15px 15px;
}
.link{text-decoration: none;}

div.category{
  position: relative;
  margin-top:10px;
  top:auto;
  left:2%;
width:10%;
float:left;
  display:block;

}
li.category{
  display:block;
  text-align:center;

}

li.active{
  font-size:24px;
color:rgb(64,64,65);

}
ol{
  list-style: none;
}
ol>li.active>ul{
  display:none;
}
ol>li.active:hover>ul{
  display:block;
}
ul{
  list-style: none;
}
li>a{
  display:block;
  text-decoration:none;
  color:rgb(64,64,65);
  margin-top:50px;
  border-top:1px solid rgb(64,64,65);
  border-bottom:1px solid rgb(64,64,65);
  height:50px;
  line-height: 50px;
}
li>a:hover{
  color:white;
  background-color: rgb(64,64,65);
}
li>a.active{
  color:white;
  background-color: rgb(64,64,65);
}

.baner{
  position: relative;
  display:block;
  width:100%;
  height:500px;
  background-position: center;
  background-image: url("src/assets/img/baner.jpg");
  transition: 0.2s linear;
}
.baner:hover{
  filter:brightness(80%);
  filter:blur(50%);
}
.title{
  position:absolute;
  font-size:5em;
  z-index: 1;
letter-spacing: 1px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color:rgb(64,64,65);
  background-color: transparent;
}


i.fas{
  margin-top:20px;
}
