<app-nav></app-nav>
<br>

<div class="row">

<div class="col-md baner z-depth-1">
  <h1 class="title font-weight-bold">Cekovic Store</h1>
</div>

  <div class="col-md-5 category ">
    <ol>
      <li class="active text-center"> <h4 class="font-weight-bold " style="font-size:35px">Kategorie
        <br>
        <i class="fas fa-arrow-circle-down"></i>
      </h4>
    <ul>
      <li class="category "><a class="active"href="#">Navbar</a></li>
      <li class="category"><a href="#">Button</a></li>
      <li class="category"><a href="#">Form</a></li>
      <li class="category"><a href="#">Animation</a></li>

    </ul>
  </li>
  </ol>
  </div>

<div class="col-lg content">

  <mdb-card class="card">
    <!--Card image-->
    <mdb-card-img class="view zoom photo" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" style="height:350px" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body class="tekst">

      <!--Title-->
      <mdb-card-title>
        <h4 class="text-center">Card Title</h4>
        <h6 class="grey-text text-center">Author</h6>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a class="link"href="#" >Szczegóły</a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card class="card">
    <!--Card image-->
    <mdb-card-img class="view zoom photo" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" style="height:350px" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body class="tekst">

      <!--Title-->
      <mdb-card-title>
        <h4 class="text-center">Card Title</h4>
        <h6 class="grey-text text-center">Author</h6>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a class="link" href="#" >Szczegóły</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="card">
    <!--Card image-->
    <mdb-card-img class="view zoom photo" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" style="height:350px" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body class="tekst">

      <!--Title-->
      <mdb-card-title>
        <h4 class="text-center">Card Title</h4>
        <h6 class="grey-text text-center">Author</h6>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a class="link" href="#">Szczegóły</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="card">
    <!--Card image-->
    <mdb-card-img class="view zoom photo" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" style="height:350px" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body class="tekst">

      <!--Title-->
      <mdb-card-title>
        <h4 class="text-center">Card Title</h4>
        <h6 class="grey-text text-center">Author</h6>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a class="link" href="#" >Szczegóły</a>
    </mdb-card-body>
  </mdb-card>

</div>



</div>

<app-footer></app-footer>
