
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 col-xl-12">
      <form action="https://formspree.io/mqkbblzy" method="POST" #form>
        <!--Grid row-->
        <div class="row" data-sitekey="6Ldi6-EUAAAAALAKegCjqfRruhRYGLvXpZ3BsDqe">
          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" name="name" required placeholder="Imię" class="form-control">
              <label class="" for="name" required></label>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form">
              <input type="email" name="_replyto" required placeholder="E-mail" class="form-control">
              <label class="" for="email" required></label>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
        <!--Grid row-->
        <div class="row">
        </div>
        <!--Grid row-->
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12">
            <div class="md-form">
              <textarea id="message" placeholder="Wiadomość" required name="message"
                class="md-textarea form-control" rows="3"></textarea>
              <label class="" for="message" required></label>
            </div>
          </div>
        </div>
        <!--Grid row-->
        <div class="text-center text-md-left my-4">
          <button mdbBtn gradient="blue" type="submit" type="reset" (click)="!form.submit()" value="Send"
            required>Wyślij</button>
        </div>
      </form>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <!--Grid column-->
  </div>
