<mdb-navbar SideClass="navbar navbar-light blue-grey lighten-5 fixed-top scrolling-navbar">


  <img class="logo" src="..\..\assets\clogo.png" alt="picture" width="50px" height="50px" />
  <a href="#" class="menu left ">Strona główna</a>
  <a href="#" class="menu left ">Sklep</a>
  <a href="#" class="menu right ">Kontakt</a>
  <a href="#" class="menu right">Dowiedz się więcej</a>

</mdb-navbar>
<br>
<div class="baner green">
  <h1 class="text-center font-weight-bold white-text">Cekovic Store</h1>
  <h4 class="white-text text-center">Jeżeli chciałbyś żeby na towjej stronie nie wiało nudą, prezentowała się wyjątkowo i przyciągała tłumy... to dobrze trafiłeś!
  </h4>

  </div>
