* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;

}

a {
  text-decoration: none;
  transition: 0.2s;
  border-radius: 10px;
}

hr {
  display: block;
  margin: 0 auto;
  width: 0;
  color: #ddd;
  border: 0;
  box-shadow: 0px 0px 20px 20px #3366ff;
  opacity: 0.8;
  animation: line 3s forwards linear;
}

a:active {
  letter-spacing: 1.5px;
}

.logo {
  display: block;
  position: relative;
  margin: 0 auto;

  animation: logo 3s;
}

.left {
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  top: 20%;
  left: -20%;
}

a:nth-child(4) {
  animation: RightOne 5.8s forwards;
}

a:nth-child(5) {
  animation: RightTwo 5.8s forwards;
}

a:nth-child(3) {
  animation: LeftOne 5.8s forwards;
}

a:nth-child(2) {
  animation: LeftTwo 5.8s forwards;
}

.right {
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  top: 20%;
  right: -20%;
  box-shadow: 0px;
}

@keyframes line {
  0% {}

  100% {
    width: 100%;
  }
}

@keyframes LeftOne {
  0% {
    left: -10%;
  }

  50% {
    left: 30%;
  }

  90% {}

  100% {
    left: 30%;
    -webkit-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    -moz-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    box-shadow: 0px 10px 0px black, 0px 0px 6px black;
  }
}

@keyframes LeftTwo {
  0% {
    left: -10%;
  }

  50% {
    left: 15%;
  }

  100% {
    left: 15%;
    -webkit-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    -moz-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    box-shadow: 0px 10px 0px black, 0px 0px 6px black;
  }
}

@keyframes RightOne {
  0% {
    right: -10%;
  }

  50% {
    right: 30%;
  }

  100% {
    right: 30%;
    -webkit-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    -moz-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    box-shadow: 0px 10px 0px black, 0px 0px 6px black;
  }
}

@keyframes RightTwo {
  0% {
    right: -10%;
  }

  50% {
    right: 15%;
  }

  100% {
    right: 15%;
    -webkit-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    -moz-box-shadow: 0px 10px 0px black, 0px 0px 6px black;
    box-shadow: 0px 10px 0px black, 0px 0px 6px black;
  }
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(720deg);
  }
}
