<mdb-navbar SideClass="navbar navbar-light blue-grey lighten-5 fixed-top scrolling-navbar">


  <img class="logo" src="..\assets\img\clogo.png" [routerLink]="['/home']" routerLinkActive="router-link-active" alt="picture" width="50px" height="50px" />
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="menu left ">Strona główna</a>
  <a [routerLink]="['/sklep']"routerLinkActive="router-link-active" class="menu left ">Sklep</a>
  <a [routerLink]="['/sklep']" routerLinkActive="router-link-active" class="menu right ">Kontakt</a>
  <a [routerLink]="['/sklep']" routerLinkActive="router-link-active" class="menu right">Dowiedz się więcej</a>

</mdb-navbar>
<br>

