

<div class="baner green">
  <h1 class="text-center font-weight-bold white-text">Cekovic Store</h1>
  <h3 class="white-text text-center">Chciałbyś żeby na twojej stronie nie wiało nudą, prezentowała się wyjątkowo i przyciągała tłumy?</h3>
    <h3 class="white-text text-center">To dobrze trafiłeś!</h3>


  </div>
  <div class="back">
<div class="social top-fixed scrolling-navbar">
  <p style="font-size:18px" class="header font-weight-bold">Odwiedź nas na facebooku ;)</p>
  <div id="fb-root"></div>
  <div class="fb-page" data-href="https://www.facebook.com/Cekovicwebpl-103744544601616" data-tabs="timeline" data-width="300" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Cekovicwebpl-103744544601616" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Cekovicwebpl-103744544601616">Cekovicweb.pl</a></blockquote>
  </div>
</div>

<div class="kontener">
  <div class="letters">
  <p style="font-size:2rem;" class="header font-weight-bold">Cekovic</p>
  <p class="tekst" >Jesteśmy grupą zjamującą się tworzeniem profesjonalnych stron interetowych oraz WebApi. Zapoznaj się z naszymi usługami na <a style="text-decoration:none;"href="www.cekovicweb.pl">www.cekovicweb.pl</a>
  <br> Cekovic Store jest to strona poświęcona animacjom, stylowaniu poszczególnych elementów(assetom) </p>
  <p style="font-size:20px" class="header font-weight-bold">Czym jest nasz produkt?</p>
  <p class="tekst" >Wspomagamy osoby tworzące, zarządzające stronami internetowymi udostępniając gotowe assety przycisków, formularzy bądź animacje wielu obiektów. Stawiamy przede wszystkim na jakość i czystość kodu. Z nami nie będziesz miał trudności zaimplementować asset do strony ani nie spotkasz się z żadnym błędem wynikającym ze złego kodu. </p>
  <br><p class="text-center" style="font-size:18px">Zapraszamy, wybierz coś dla siebie! </p>
  </div>
  <div class="row">
    <div class="col-sm left">
    <!-- Card -->
    <mdb-card class="text-center">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
    <a>
      <div class="mask"></div>
    </a>
     </div>
    <!--Card content-->
     <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>Menu</h4>
    </mdb-card-title>

    <!--Text-->
    <p class="grey-text" style="font-size:18px; line-height:30px">Gotowe panele menu prosto na Twoją stronę ułatwią nawigację oraz nacieszą oczy.
    </p>

    <a href="#" mdbBtn class="white-text green"  mdbWavesEffect>Dowiedz się więcej</a>
    </mdb-card-body>
    </mdb-card>
    <!-- Card -->
    </div>
    <div class="col-sm center">
    <!-- Card -->
    <mdb-card class="text-center">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
    <a>
      <div class="mask"></div>
    </a>
     </div>
     <!--Card content-->
        <mdb-card-body>
        <!--Title-->
    <mdb-card-title>
      <h4 >Forms</h4>
    </mdb-card-title>

    <!--Text-->
    <p class="grey-text" style="font-size:18px; line-height:30px;">Gotowe panele menu prosto na Twoją stronę ułatwią nawigację oraz nacieszą oczy.
    </p>

     <a href="#" mdbBtn class="white-text green" mdbWavesEffect>Dowiedz się więcej</a>
      </mdb-card-body>
      </mdb-card>
      <!-- Card -->
        </div>
      <div class="letters content">

      <p style="font-size:20px" class="header font-weight-bold">Animacje, Layouty, Template...</p>
      <p class="tekst"  >Wygląd strony w dużej mierze przyczynia się do sukcesu. Pierwsze co zauważyłeś na tej stronie to baner dopiero później panel menu i na końcu resztę strony zgadza się?
      Istotnym elementem jest obiekt przykuwający uwagę na środku strony następnie obiekty poruszane tzw animowane, które zachęcą osobę do zagłębienia się w naszą stronę.</p>
      <p style="font-size:20px" class="header font-weight-bold">Dlaczego jest to tak ważne?</p>
      <p class="tekst" >Głónym założeniem marketingowym jest zdobyć zainteresowanie potencjalnego klienta, a to można spełnić dzięki czytelnej i wyróżniającej się stronie internetowej, wizytówce.
  Manipulowanie wyglądem poszczególnych obiektów przyczynia się do skłonienia użytkownika strony by ten zwrócił uwagę na najważniejszy aspekt, który chcemy mu przekazać. </p>
  </div>
  </div>
</div>

<app-slider></app-slider>

<app-footer></app-footer>
</div>
